.drop-area {
    width: 900px;
    padding: 0;
    margin: auto;
    border: dotted 1px;
    min-height: 200px;
}

.thumbnail-container {
    margin: 0;
    padding: 0;
}

.thumbnail-container li {
    display: inline-block;
    margin: 10px;
}

.thumbnail-container li img {
    display: block;
    width: 160px;
    height: auto;
}

.thumbnail-container li span {
    display: block;
}
